<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ contact.name }}—Resume</title>

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <h1>{{ contact.name }}</h1>

    <ul>
        <li>{{ contact.phone }}</li>
        <li>{{ contact.email }}</li>
        <li>{{ contact.website }}</li>
        <li>{{ contact.address | join('<br>') }}</li>
    </ul>

    <ul>
        {% for profile in social %}
        <li><a href="{{ profile.url }}"><i class="la la-{{ profile.icon }}"></i> {{ profile.username }}</a></li>
        {% endfor %}
    </ul>

    <h2>Education</h2>
    <ol>
        {% for program in education | sort(attribute='start_date') %}
        <li>
            {{ program.name }}<br>
            {{ program.school }}<br>
            {{ program.city }}<br>
            {{ program.start_date }}–{{ program.end_date if program.ended else 'present' }}
        </li>
        {% endfor %}
    </ol>
    
    <h2>Experience</h2>
    <ol>
        {% for job in experience | sort(reverse=True, attribute='start_date') %}
        <li>
            {{ job.position }}<br>
            {{ job.organization }}<br>
            {{ job.start_date }}–{{ job.end_date if job.ended else 'present' }}
            <ul>
                {% for highlight in job.highlights %}
                <li>{{ highlight }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ol>
</body>
</html>
