<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }}</title>

    <!-- Line Awesome Icon Font -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Abel & Lato Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Lato&display=swap" rel="stylesheet">

    <!-- Main Theme Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- PDF Print Polyfill -->
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</head>
<body>
    {% include 'letterhead.html' %}

    <main role="main">
        {% block main %}{% endblock %}
    </main>
</body>
</html>
